<h1><a href="/">Logs</a></h1>
<table>
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Status</th>
      <th>Verb</th>
      <th>Url</th>
      <th>Version</th>
      <th>Timestamp</th>
      <th>User Agent</th>
    </tr>
  </thead>
  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><a href="/ip/<%= log.ipaddress %>"><%= log.ipaddress %></a></td>
        <td><%= log.http_status %></td>
        <td><%= log.http_verb %></td>
        <td><%= h log.url %></td>
        <td><%= h log.http_version %></td>
        <td><%= log.timestamp %></td>
        <td><%= h log.user_agent %></td>
      </tr>
    <% end %>
  </tbody>
</table>
